body {
  margin: 0;
}

.banner {
    background-color: rgb(125, 43, 219);
    height: 50px;
    align-items: center;
    h1 {
      margin: 0;
    }
    .shopping {
      font-size: 30px;
    }
  }

#icon {
  border: 1px solid black;
  width: 100%;
}

#toto {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

#test {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

#lien {
  width: 30%;
  height: 30%;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
}

#blocIcon {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

#blocInfo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#price {
  margin: 0;
  margin-left: 5px;
}

#icon_produit {
  border: 1px solid black;
  width: 40%;
}

#checkbox {
  width: 150%;
  display: flex;
  justify-content: space-around;
}
